<% @pelicula.each do |peli| %>
<div class="row text-center">
	<%= peli.id %>	
	<img src="<%= peli.url %>">
	<%= peli.name %>
	<%= peli.stars %>
	<%= peli.main_actor %>
	<%= peli.year %>
	<%= link_to 'Visualizar', pelicula_path(peli), :nom => "Visualizar", :class => 'btn btn-sm btn-success', style:"color: white;" %>
	<button class="btn btn-info"><%= peli.precio %>&nbsp;€</button>
    <%= link_to "Editar", edit_pelicula_path(peli), :nom => "Editar", :class => 'btn btn-sm btn-warning', style:"color: white;" %>
    <%= link_to 'Eliminar', pelicula_path(peli), method: :delete, class:"btn btn-sm btn-danger" %>
	<br>
	<br>

</div>
<% end %>
