<% @peliculas.each do |peli| %>
<div class="container">
	<div class="col-md-2">
			
		<img src="<%= peli.url %>">
	</div>
	<div class="col-md-10">
		<p>ID: <%= peli.id %></p>
		<p>Nombre: <%= peli.name %></p>
		<p>Actor Principal: <%= peli.main_actor %></p>
		<p>Año: <%= peli.year %></p>
		<%= link_to 'Visualizar', pelicula_path(peli), :nom => "Visualizar", :class => 'btn btn-sm btn-success', style:"color: white;" %>
		<%= link_to select_movies_path(id: peli.id) do %>
			<button class="btn btn-info"><%= peli.precio / 100 %>&nbsp;€</button>
		<% end %>
	
	</div>
</div>
<% end %>
